<h1>Place an order</h1>

<form method="POST" action="/restaurant/confirmation/">
    {% csrf_token %}
    <h2>Select your items:</h2>
    <ul>
        {% for item, price in menu %}
            <li>
                <input type="checkbox" name="items" value="{{item}}">
                {{item}}-${{price}}
            </li>
        {% endfor %}
    </ul>
    <h2>Special instructions:</h2>
    <label for="specialInstruction">Special Instructions:</label>
    <input type="text" id="specialInstruction">
    <br>
    <h2>Customer Information</h2>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="phone">Phone:</label>
    <input type="phone" id="phone" name="phone" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <br>
    <h2>Place your order!</h2>
    <input type="submit" value="Submit query">
    
</form>